.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --color-murrey: #8D0147;
  --color-indigo-dye: #0E3F6C;
  --color-sinopia: #C2421E;
  --color-sunset: #F9C784;
}

body {
  background-color: var(--color-sunset);
  color: var(--color-indigo-dye);
}

button {
  background-color: var(--color-murrey);
  color: white;
}

h1 {
  color: var(--color-sinopia);
}